body{
    background-color: rgb(81, 140, 218);
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin-top: 2rem;
    justify-items: center;
    align-items: center;
}

.card {
    background-color: white;
    border: 1px solid rgb(3, 0, 0);
    border-radius: 8px;
    padding: 1.5rem;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 280px;
}







